@charset "utf-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body{
    background-image: linear-gradient(to right,#EFEBE8,#EDCBAD);
}

main{
    background-color:white;
    border-radius:10px;
    box-shadow:5px 5px 15px #6f5c449e;
    width:600px;
    padding:10px;
    margin:auto;
}

h1{
    color:#A6460F;
    text-align:center;
    text-shadow:1px 1px 2px #642a0998;
}

h2{
    color:#F2921D;
}

p{
    text-align:justify;
}