@charset "utf-8";

/*
    em html é id=em css é #
    em html e class = em css é .
*/

body{
    background-color:#3D3D3D;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:#84B026;
}

h1#principal{
    text-align:center;
    background-color:#217373;
    color:#161F30;
}

h2{
    color:#173540;
}

.basico{
color:#025939;
}

.intermediario{
    color:yellow;
}

.avançado{
    color:red;
}

.destaque{
    background-color:#04D939;
}